/* https://github.com/Isoheptane/dotfiles/blob/blog-example/waybar/style.css */
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Fira Mono";
    font-weight: 500;
    font-size: 18px;

    border-radius: 10px;
    text-shadow: none;
    
    transition-property: background;
    transition-duration: 0.2s;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
  padding-left: 0px;
  padding-right: 4px;
}
#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: rgba(181, 232, 224, 0.3);
}
#workspaces button.active {
  background-color: rgba(181, 232, 224, 0.6);
  color: rgb(26, 24, 38);
}
#workspaces button.urgent {
  background-color: rgba(235, 50, 0, 0.6);
  color: rgb(26, 24, 38);
}
#workspaces button:hover {
  background-color: rgba(248, 189, 150, 0.6);
  color: rgb(26, 24, 38);
}

#mode {
    background-color: rgba(100, 114, 125, 0.6);
    border-bottom: 3px solid #ffffff;
}

#clock,
#cpu,
#temperature,
#memory,
#pulseaudio,
#tray,
#battery,
#mpd,
#mode,
#window {
    margin-top: 6px;
    padding: 0 12px;
    color: #ffffff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > * {
    /* 左边边缘间隙设置为2像素和hyprland设置对齐 */
    margin-left: 2px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > * {
    /* 右边边缘间隙设置为2像素和hyprland设置对齐 */
    margin-right: 2px;
}

#mpd {
    background-color: rgba(181, 232, 224, 0.3);
    color: #000000;
}

#mpd.disconnected {
    background-color: rgba(181, 232, 224, 0.3);
    color: #000000;
}

#mpd.stopped {
    background-color: rgba(181, 232, 224, 0.3);
    color: #000000;
}

#mpd.playing {
    background-color: rgba(181, 232, 224, 0.3);
    color: #000000;
}

#mpd.paused {
    background-color: rgba(181, 232, 224, 0.3);
    color: #000000;
}

#clock {
    background-color: rgba(181, 232, 224, 0.3);
    color: #000000;
}

#cpu {
    background-color: rgba(254, 150, 139, 0.6);
    color: #000000;
}

#temperature {
    background-color: rgba(135, 221, 225, 0.6);
    color: #000000;
}

#temperature.critical {
    background-color: rgba(245, 60, 60, 0.6);
    color: #000000;
}

#memory {
    background-color: rgba(255, 234, 170, 0.6);
    color: #000000;
}

#pulseaudio {
    background-color: rgba(176, 245, 229, 0.6);
    color: #000000;
}

#tray {
    background-color: rgba(16, 20, 24, 0.6);
}
#battery {
  min-width: 50px;
  background-color: rgba(200, 186, 244, 0.6);
  color: #000000;
}
#battery.charging,
#battery.full,
#battery.plugged {
  color: #26a65b;
}
#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#window {
    font-family: 'Fira Mono', 'Noto Sans CJK SC', sans-serif;
    font-weight: 400;
    background-color: #cbecff;
    color: #000000;
}
