/* https://github.com/Isoheptane/dotfiles/blob/blog-example/waybar/style.css */
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Fira Mono";
    font-weight: 500;
    font-size: 18px;

    border-radius: 10px;
    text-shadow: none;
    
    transition-property: background;
    transition-duration: 0.2s;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
  padding-left: 0px;
  padding-right: 4px;
}
#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: rgba(181, 232, 224, 0.5);
}
#workspaces button.active {
  background-color: rgb(181, 232, 224);
  color: rgb(26, 24, 38);
}
#workspaces button.urgent {
  background-color: rgb(235, 50, 0);
  color: rgb(26, 24, 38);
}
#workspaces button:hover {
  background-color: rgb(248, 189, 150);
  color: rgb(26, 24, 38);
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#battery,
#mode,
#window {
    margin-top: 6px;
    padding: 0 12px;
    color: #ffffff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > * {
    margin-left: 16px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > * {
    margin-right: 16px;
}

#clock {
    background-color: #eefff1;
    color: #000000;
}

#cpu {
    background-color: #FE968B;
    color: #000000;
}

#memory {
    background-color: #FFEAAA;
    color: #000000;
}

#pulseaudio {
    background-color: #b0f5e5;
    color: #000000;
}

#network {
    background-color: #87ddff;
    color: #000000;
}

#tray {
    background-color: rgba(16, 20, 24, 0.5);
}
#battery {
  min-width: 50px;
  background-color: rgb(200, 186, 244);
  color: #000000;
}
#battery.charging,
#battery.full,
#battery.plugged {
  color: #26a65b;
}
#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#window {
    font-family: 'Fira Mono', 'Noto Sans CJK SC', sans-serif;
    font-weight: 400;
    background-color: #cbecff;
    color: #000000;
}
